<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qks.job.mapper.JobMapper">
    <select id="getJobsXML" resultType="com.qks.common.po.Job">
        select * from jobs
        where 1 == 1
        <if test="status != null">and status = #{status}</if>
        <if test="jobType != null">and job_type = #{jobType}</if>
        <if test="rank != null">and `rank` = #{rank}</if>
        <if test="jobLevelName != null">and job_level_name = #{jobLevelName}</if>
        <if test="jobPositionTarget != null">and job_position_target = #{jobPositionTarget}</if>
        <if test="jobDoctorTarget != null">and job_doctor_target = #{jobDoctorTarget}</if>
    </select>
</mapper>
